.active {
  font-weight: 800;
  height: 100%;
  border-bottom: 3.5px #2E4867 solid;
}

.pointer {
  cursor: pointer;
}

.fixed {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.topic {
  font-weight: 700;
  color: #2E4867;
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.txt-header {
  text-align: center;
  color: #2E4867;
}

.user {
  text-align: center;
  background-color: #2E4867;
  height: 13vh;
  font-size: 2.5rem;
  color: white;
}

.card {
  margin-bottom: 15px;
  box-shadow: 5px 10px 8px #888888;
}

.schedule {
  margin-top: 150px;
}

.pd-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pd-3 {
  padding: 0.5rem;
}
